BASECAMP_INTEGRATION_NAME=/* The name of your integration set in UserAgent */
BASECAMP_INTEGRATION_CONTACT_EMAIL=leo@barkibu.com
BASECAMP_INTEGRATION_ACCESS_KEY=/* Your Integration Access Key (https://launchpad.37signals.com/integrations) */
BASECAMP_INTEGRATION_ACCESS_SECRET=/* Your Integration Access Secret (https://launchpad.37signals.com/integrations) */
BASECAMP_INTEGRATION_REDIRECT_URL=/* Your Integration Redirect URL (https://launchpad.37signals.com/integrations) */

GITHUB_CLIENT_ID=/* Client Id for your Github Application */
GITHUB_CLIENT_SECRET=/* Client Secret for your Github Application */
GITHUB_REDIRECT_URI=https://bke-test.herokuapp.com/github/token

UI_SESSION_SECRET=123NotSoSecret

REDIS_URL=redis://redis:6379
